header {
    background-color: yellowgreen;
}

footer {
    background-color: yellowgreen;
    color: grey;
}


.mt-10 {
margin-top: 10px;
}

.mt-5 {
margin-top: 5px;
}

.bg-grey {
    background-color: grey;
}

.txt-center {
    text-align: center;
}

.txt-wh {
    color: white;
}

.txt-dblue {
    color: darkblue;
}

.bg-dblue {
    background-color: darkblue
}

.bg-yellowgreen {
    background-color: yellowgreen;
}